{% extends 'ratings/base.html' %}
{% block title %}Leaderboard{% endblock %}

{% block body %}
<div class="container center-large card">
    <h2 class="text-center">Leaderboard</h2><br><hr>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="col-sm-3">User Id</th>
                <th scope="col" class="col-sm-2">Rating</th>
                <th scope="col" class="col-sm-5">Latest Work</th>
                <th scope="col" class="col-sm-2">Rated?</th>
            </tr>
        </thead>
        <tbody>
            {% for user in object_dictionary %}

                <tr>
                    <th scope="col"> <a href="{{ user.profile.get_absolute_url }}">
                        <strong>{{ user.profile.userid }}</strong>
                    </a></th>
                    <td >
                            {% if ratercansee %}
                            <strong>{{ user.profile.current_rating }}</strong>
                            {% else %}
                            <strong>Rate everyone to see ratings.</strong>
                            {% endif %}
                    </td>
                    <td > {% if user.profile.get_latest_work %}
                        {{ user.profile.get_latest_work }}
                        {% else %} {% endif %}</td>
                        <td > {% if user.has_rated %}
                            {{ user.has_rated }}
                            {% else %} {% endif %}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
